.creditos_conteudo {
    background-image: url(../../game_assets/creditos/creditos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.creditos_conteudo_principal {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.creditos_conteudo_principal_texto {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    list-style-type: none;
    font-family: var(--font-primaria);
    color: var(--cor-texto-secundario);
    font-size: 2.8rem;
}

.creditos_conteudo_espacamento {
    padding: 2rem 3rem 0 3rem;
}

.creditos_conteudo_espacamento_cabecalho {
    width: 40%;
    transition: transform 0.3s ease;
    justify-self: left;
}

.creditos_conteudo_espacamento_cabecalho:hover {
    transform: scale(1.1);
}

.creditos_conteudo_espacamento_cabecalho_imagem {
    position: relative;
    margin-bottom: 2rem;
}

.creditos_conteudo_espacamento_cabecalho_imagem img {
    display: block;
    width: 100%;
}

.creditos_conteudo_espacamento_cabecalho_imagem_texto {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2.4rem;
    text-align: center;
    font-family: var(--font-primaria);
    text-decoration: none;
    color: var(--cor-texto);
    white-space: nowrap;
}

.creditos_conteudo_espacamento_cabecalho_imagem_texto:hover {
    color: var(--cor-hover);
}