@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
}

:root {
    --cor-texto: #000000;
    --cor-hover: #ffb217;
    --font-primaria: "Pirata One", sans-serif;
}

.conteudo {
    background-image: url(/game_assets/fundoperguntas.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo_moedas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#conteudo_moedas img {
    width: 200%;
    display: flex;
    justify-self: center;
}

.conteudo_escondido {
    display: none;
    opacity: 0;
}

.conteudo_escondido_texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteudo_escondido_texto img {
    width: 25vw;
}

#conteudo_vidas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#conteudo_vidas img {
    width: 200%;
    display: flex;
    justify-self: center;
}

.conteudo_organizacao {
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.conteudo_organizacao_imagem {
    width: 50%;
}


.conteudo_organizacao_quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.conteudo_organizacao_quiz_pergunta {
    width: 65%;
}

.conteudo_organizacao_quiz_pergunta_imagem {
    position: relative; 
    margin-bottom: 2rem;
}

.conteudo_organizacao_quiz_pergunta_imagem img {
    display: block;
    width: 100%;
}

.conteudo_organizacao_quiz_pergunta_texto {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;

    font-size: 2.6rem;
    text-align: center;
    font-family: var(--font-primaria);
    text-decoration: none;
    color: var(--cor-texto);
}

.conteudo_organizacao_quiz_opcoes {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.conteudo_organizacao_quiz_opcoes_resposta {
    width: 10%;
    transition: transform 0.3s ease;
}

.conteudo_organizacao_quiz_opcoes_resposta:hover {
    transform: scale(1.1);
}

.conteudo_organizacao_quiz_opcoes_resposta.desativado:hover {
    transform: none;
}

.botao_opcao {
    cursor: pointer;
}

.conteudo_organizacao_quiz_opcoes_resposta_imagem {
    position: relative; 
    margin-bottom: 2rem;
}

.conteudo_organizacao_quiz_opcoes_resposta_imagem img {
    display: block;
    width: 100%;
}

.conteudo_organizacao_quiz_opcoes_resposta_texto {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3rem;
    text-align: center;
    font-family: var(--font-primaria);
    text-decoration: none;
    color: var(--cor-texto);
}