.escondido {
    display: none;
}

.tabuleiro_conteudo {
    background-image: url(../../game_assets/tabuleiro/mapa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.tabuleiro_conteudo_espacamento {
    padding: 2rem 3rem 0 3rem;
    display: flex; 
    gap: 55rem;
}

.tabuleiro_conteudo_espacamento_cabecalho {
    width: 23%;
    transition: transform 0.3s ease;
}

.tabuleiro_conteudo_espacamento_pontuacao {
    width: 25%;
}

.tabuleiro_conteudo_espacamento_cabecalho:hover {
    transform: scale(1.1);
}

.tabuleiro_conteudo_espacamento_cabecalho_imagem {
    position: relative;
    margin-bottom: 2rem;
}

.tabuleiro_conteudo_espacamento_cabecalho_imagem img {
    display: block;
    width: 100%;
}

.tabuleiro_conteudo_espacamento_cabecalho_imagem_texto,
.tabuleiro_conteudo_espacamento_cabecalho_imagem_pontuacao {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2.4rem;
    text-align: center;
    font-family: var(--font-primaria);
    text-decoration: none;
    color: var(--cor-texto);
    white-space: nowrap;
}

.tabuleiro_conteudo_espacamento_cabecalho_imagem_texto:hover {
    color: var(--cor-hover);
}

.tabuleiro_pontuacao {
    width: 23%;
    transition: transform 0.3s ease;
    justify-self: center;
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 4.5rem;
}

.tabuleiro_pontuacao_placa {
    position: relative;
    margin-bottom: 2rem;
}

.tabuleiro_pontuacao_placa img {
    display: block;
    width: 72%;
}

.tabuleiro_pontuacao_placa_texto {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-65%, -35%);

    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto);
    white-space: nowrap;

    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tabuleiro_pontuacao_placa_texto_info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icone-rodape {
    height: 2.7rem;
    width: auto;
}

.texto_barra {
    margin: 0;
    font-family: var(--font-primaria);
    font-size: 2rem;
    font-weight: 100;
}

#mapa-container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: transparent;
}

#mapa-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#mapa-base {
    display: block;
    width: 100%;
    height: 100%;
}

#pirata {
    position: absolute;
    width: 9%;
    height: auto;
    transform: translate(-50%, -70%);
    transition: top 0.6s ease-in-out, left 0.6s ease-in-out;
    z-index: 2;
}

.ponto_clicavel {
    position: absolute;
    width: 4%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    background-image: url(../../game_assets/tabuleiro/pergunta.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.ponto_clicavel.casa-completa {
    background-image: url(../../game_assets/tabuleiro/certo.webp);
}

.ponto_clicavel.proxima-casa {
    pointer-events: auto;
    cursor: pointer;
    background-image: url(../../game_assets/tabuleiro/proxima.webp);
}

.ponto_clicavel.proxima-casa:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.ponto_clicavel.proxima-casa.ponto-gradiente {
    box-shadow: 0 0 15px #0f9e2ead, 0 0 20px #09db3686, 0 0 45px #b8ffaac9, 0 0 85px #beff6ace;
}

.ponto_clicavel[data-casa="1"] {
    opacity: 0;
    width: 7%;
    pointer-events: none;
}

.ponto_clicavel[data-casa="12"] {
    background-image: url(../../game_assets/tabuleiro/bau.webp);
    width: 10%;
}

/* Tela final */
.tela_final_imagem {
    transition: opacity 1.5s ease-in-out;
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.tela_final_imagem.mostrar {
    display: block;
}

/* Fundo */
.tela_final_imagem .fundo_derrota, .tela_final_imagem .fundo_vitoria {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

/* Conteúdo (moedas + botão) */
.derrota_conteudo, .vitoria_conteudo {
    position: absolute;
    top: 60vh;   
    left: 59vw; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 2vh; 
    transform: translate(-50%, -50%); 
    z-index: 10;
}


/* Moedas */
.moedas_final {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moedas_final_conteudo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moedas_final_conteudo img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.texto_barra {
    font-size: 2.3rem;
    font-family: var(--font-secundaria);
}

/* Botão reiniciar */
.reiniciar_jogo {
    width: 20vw;
    max-width: 300px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.reiniciar_jogo:hover {
    transform: scale(1.1);
}

.reiniciar_imagem {
    position: relative;
    width: 100%;
    aspect-ratio: 3/1; /* isso é pra manter a proporção da placa */
}

.reiniciar_imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.reiniciar_imagem_texto {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: var(--font-primaria);
    color: var(--cor-texto);
    pointer-events: none;
}

.menu_imagem_texto {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--font-primaria);
    color: var(--cor-texto);
    pointer-events: none;
}

.reiniciar_jogo:hover .reiniciar_imagem_texto {
    color: var(--cor-hover);
}

.reiniciar_jogo:hover .menu_imagem_texto {
    color: var(--cor-hover);
}