<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos</title>
    <link rel="stylesheet" href="/components/styles/creditos.css">
</head>
<body class="conteudo">
    <main class="conteudo_principal">
        <ul class="conteudo_principal_texto">
            <li>Marta Gisele Barreto - Gestor</li>
            <li>Luiza Bittencourt - Designer</li>
            <li>Nairana Almeida - Designer</li>
            <li>Mateus Santos - Programador</li>
            <li>Tiago Bispo - Programador</li>
        </ul>
    </main>
    <footer>
        <div class="conteudo_rodape">
            <a href="/components/pages/index.html">
                <div class="conteudo_rodape_imagem">
                    <img src="/game_assets/placamaior.png">
                    <div class="conteudo_rodape_imagem_texto">
                        <p>Voltar ao Menu</p>
                    </div>
                </div>
            </a>
        </div>
    </footer>
</body>
</html>