<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Mapas</title>
    <link rel="stylesheet" href="/components/styles/jogar.css">
</head>
<body class="conteudo">
    <header class="conteudo_cabecalho">
        <h1>Escolha o Mapa</h1>
    </header>
    <main class="conteudo_mapas">
        <div class="conteudo_mapas_ilha">
            <h2 class="conteudo_mapas_ordem_texto">Ilha do Tesouro</h2>
            <a class="conteudo_mapas_ordem_imagem" href="#">
                <img class="conteudo_mapas_ordem_imagem_ilha" src="/game_assets/ilha.png"> 
            </a>
        </div>
        <div class="conteudo_mapas_caverna">
            <h2 class="conteudo_mapas_ordem_texto">Caverna</h2>
            <a class="conteudo_mapas_ordem_imagem" href="#">
                <img class="conteudo_mapas_ordem_imagem_caverna" src="/game_assets/caverna.png"> 
            </a>
        </div>
        <div class="conteudo_mapas_deserto">
            <h2 class="conteudo_mapas_ordem_texto">Deserto</h2>
            <a class="conteudo_mapas_ordem_imagem" href="#">
                <img class="conteudo_mapas_ordem_imagem_deserto" src="/game_assets/deserto.png"> 
            </a>
        </div>
    </main>
    <footer>
        <div class="conteudo_rodape">
            <a href="/components/pages/index.html">
                <div class="conteudo_rodape_imagem">
                    <img src="/game_assets/placamaior.png">
                    <div class="conteudo_rodape_imagem_texto">
                        <p>Voltar ao Menu</p>
                    </div>
                </div>
            </a>
        </div>
    </footer>
</body>
</html>