<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/styles/quiz.css">
    <title>Pergunta</title>
</head>
    <body class="conteudo">
        <main class="conteudo_organizacao">
            <img src="/game_assets/papagaio.png" class="conteudo_organizacao_imagem">

            <section class="conteudo_organizacao_quiz">
                <div class="conteudo_organizacao_quiz_pergunta">
                    <div class="conteudo_organizacao_quiz_pergunta_imagem">
                        <img src="/game_assets/pergunta.png">
                        <div class="conteudo_organizacao_quiz_pergunta_texto">
                            <p>Um cachorro tem 4 patas. Quantas patas têm 2 cachorros?</p>
                        </div>
                    </div>
                </div>

                <section class="conteudo_organizacao_quiz_opcoes">
                    <div class="conteudo_organizacao_quiz_opcoes_resposta">
                        <a href="#">
                            <div class="conteudo_organizacao_quiz_opcoes_resposta_imagem">
                                <img src="/game_assets/opções.png">
                                <div class="conteudo_organizacao_quiz_opcoes_resposta_texto">
                                    <p>4</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="conteudo_organizacao_quiz_opcoes_resposta">
                        <a href="#">
                            <div class="conteudo_organizacao_quiz_opcoes_resposta_imagem">
                                <img src="/game_assets/opções.png">
                                <div class="conteudo_organizacao_quiz_opcoes_resposta_texto">
                                    <p>8</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="conteudo_organizacao_quiz_opcoes_resposta">
                        <a href="#">
                            <div class="conteudo_organizacao_quiz_opcoes_resposta_imagem">
                                <img src="/game_assets/opções.png">
                                <div class="conteudo_organizacao_quiz_opcoes_resposta_texto">
                                    <p>10</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="conteudo_organizacao_quiz_opcoes_resposta">
                        <a href="#">
                            <div class="conteudo_organizacao_quiz_opcoes_resposta_imagem">
                                <img src="/game_assets/opções.png">
                                <div class="conteudo_organizacao_quiz_opcoes_resposta_texto">
                                    <p>12</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
                
            </section>
        </main>
    </body>
</html>