<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilha do Tesouro</title>
    <link rel="stylesheet" href="components/styles/quiz.css">
    <link rel="stylesheet" href="components/styles/tabuleiro.css">
    <script src="components/scripts/tabuleiro.js" defer></script>
</head>
<body>
    <div id="quiz" class="escondido">
        <div class="conteudo">
            <div id="conteudo_moedas" class="conteudo_escondido">
                <img src="game_assets/quiz/fundoopcao.png">
                <img src="game_assets/quiz/acerto.png" class="conteudo_escondido_texto">
            </div>
            <div id="conteudo_vidas" class="conteudo_escondido">
            </div>
            <div class="conteudo_organizacao" id="monstro">
            </div>
        </div>
    </div>
    <div id="tabuleiro">
        <div id="game-coluna-central">
            <div id="mapa-container">
                <div id="mapa-content-wrapper">
                    
                    <img src="game_assets/tabuleiro/mapa.png" alt="Mapa do Tesouro" id="mapa-base">

                    <div class="conteudo_rodape">
                        <div class="conteudo_rodape_imagem">
                            <img src="game_assets/tabuleiro/iconebarra.png" alt="Placa de informações">

                            <div class="conteudo_rodape_imagem_texto">
                                <div class="grupo-info" id="valor-vida">
                                </div>
                                <div class="grupo-info" id="valor-moeda">
                                </div>
                            </div>
                        </div>
                    </div>

                    <img src="game_assets/tabuleiro/iconepirata.png" alt="Pirata" id="pirata">
                    
                    <div class="ponto-clicavel" data-casa="1"></div>
                    <div class="ponto-clicavel" data-casa="2"></div>
                    <div class="ponto-clicavel" data-casa="3"></div>
                    <div class="ponto-clicavel" data-casa="4"></div>
                    <div class="ponto-clicavel" data-casa="5"></div>
                    <div class="ponto-clicavel" data-casa="6"></div>
                    <div class="ponto-clicavel" data-casa="7"></div>
                    <div class="ponto-clicavel" data-casa="8"></div>
                    <div class="ponto-clicavel" data-casa="9"></div>
                    <div class="ponto-clicavel" data-casa="10"></div>
                    <div class="ponto-clicavel" data-casa="11"></div>
                    <div class="ponto-clicavel" data-casa="12"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>